polyMesh/
processor*
*.foam
dynamicCode
[0-9]*
!0.org
!0.orig
log.*
postProcessing/
plots/
weatherdata/
case/
weatherdata.csv
route.html
compressedCase
cellToRegion
*.gz
__pycache__/
api-key
*Zone.Identifier
isd-history.csv
isd-inventory.csv
visualization.html
.vscode
build/
dist/
*.egg-info
